.excel__toolbar {
  grid-area: toolbar;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 7px 10px;
  display: flex;
  user-select: none;

  & .button {
    @include button(green);
  }
}
