@import "base/base";
@import "base/variables";
@import "base/mixins";

@import "components/header";
@import "components/toolbar";
@import "components/formula";
@import "components/table";
@import "components/dashboard";

.excel {
  height: 100vh;
  width: 100%;
  color: #888;
  font-size: .8rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  auto auto auto 1fr;
  grid-template-areas: 
    "header"
    "toolbar"
    "formula"
    "table";
}
